/*My Portfolio Styling*/

body {
  overflow-x: hidden;
  width: 100%;
  background-color: lightgrey;
}

/*Background Image Parallax, Intro of Web-developer*/
.parallax {
  background-image: url("../images/web-developer2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
}

/*Education DIV*/
.parallax-academic {
  background-image: url("../images/web-dev.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
}
/*Contact Page*/
.parallax-contact {
  background-image: url("../images/web-developer3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 300px;
}


/*Header, Footer*/
header {
  height: 30px;
  color: white;
}
footer {
  width: 100%;
  height: 50px;
  background-color: #404040;
  color: white;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1.5px;
  margin-top: 10px;
}
footer p {
  margin-top: 10px;
}
/*HEADING*/
h1 {
  padding: 60px;
  margin-left: 350px;
  font-family: 'Boogaloo', cursive;
  font-size: 70px;
  color: white;
}
.parallax img {
  margin-left: 560px;
  border-radius: 50%;
  transition: all 2s ease-in-out 0.5s;
}

.parallax img:hover {
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    transition: all 3s ease-in-out 0s;
    opacity: 1;
    transition-property: all;
}

/*Web Developer*/
#header-title {
  margin-left: 530px;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  color: white;
}
/*Quote*/
#motive-quote {
  margin-left: 470px;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  color: white;
  font-style: italic;
}

/*NavBar*/
nav {
  background-color: grey;
  width: 100%;
  height: 100px;
  top: 0px;
  text-align: center;
  position: fixed;
  padding: 30px 0 0 0;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 22px;
  font-family: 'Fredoka One', cursive;
  color: white;
  text-shadow: 2px 2px black;
}
li a:hover {
  color: orange;
  text-shadow: 2px 2px black;
}
#default {
  font-size: 40px;
  float: left;
  border: 1px solid black;
  border-width: 8px;
  background-color: black;
  margin-bottom: 15px;
}
/*ABOUT ME*/
#about-caption {
  margin-top: 100px;
}
#about-caption h2 {
  margin-top: 60px;
  font-size: 30px;
  font-family: 'Boogaloo', cursive;
  text-align: center;
  color: black;
}
#about-caption hr {
  width: 100px;
  height: 2px;
  border: 1px solid #e69500;
  background-color: #e69500;
  text-align: center;
}
#about-caption p {
  margin: 0 10%;
  text-align: justify;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 20px;
}

/*Education Skills Style*/
#education-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  color: black;
}
#education-container > div {
  margin: 0 2%;
  width: 250px;
  margin-left: 70px;
}
#education-container h4 {
  font-size: 20px;
  font-family: 'Boogaloo', cursive;
  text-decoration: underline;
}
#education-container p {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: black;
  margin-bottom: 50px;
}

/*My Coding Skills*/
.coding-skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 70px;
  margin-bottom: 30px;

}
.coding-skills img {
  width: 200px;
  height: 200px;
}
.coding-skills img:hover {
  transform: rotateY(-180deg);
  transition: all 3s ease-in-out 0s;
}
#slide {
    position: relative;
    left: -1300px;
    -webkit-animation: slide 3s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 3s forwards;
    animation-delay: 2s;
}
@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


/*Work Skills*/
#work-skills-container {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#work-skills-container > div {
  margin-left: 10px;
}
/*Work Experience h2*/
#work-skills {
  font-size: 30px;
  font-family: 'Boogaloo', cursive;
  text-align: center;
  color: black;
}
#work-skills-container h4 {
  font-size: 28px;
  font-family: 'Boogaloo', cursive;
  text-align: center;
  text-decoration: underline;
}
#work-skills-container p {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: black;
  padding-left: 60px;
  padding-right: 40px;
}

/*My Contact Details*/
#contact-details-container {
  color: lightgrey;
  padding: 70px;
}
#contact-details-container h2{
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 50px;
}
#contact-details-container h4{
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 25px;
}
#contact-details-container p {
  text-align: justify;
  margin-left: 425px;
  font-family: 'Oxygen', sans-serif;
  margin-top: 50px;
  font-size: 18px;
}
#contact-details-container .phone {
  font-size: 18px;
  margin-left: 495px;
}
#contact-details-container p:hover {
  color: orange;
  text-shadow: 7px 7px 7px lightblue;
}
#contact-details-container ul {
  margin-top: 50px;
  margin-left: 460px;
}
#contact-details-container ul li {
  display: inline;
}
#contact-details-container ul i {
  font-size: 30px;
  border: 10px solid grey;
  border-width: medium;
  background-color: grey;
  border-radius: 50%;
}
#contact-details-container ul i:hover {
  border: 10px solid orange;
  border-width: medium;
  color: grey;
  background-color: orange;
  border-radius: 50%;
}

/*Organisation*/
#contact-details-container li {
  list-style-type: none;
}
#contact-details-container li a{
  font-size: 20px;
  font-style: normal;
  list-style-type: none;
}

/*Back to Home Page Smooth Scroll*/
#back-to-top {
  float: right;
  width: 60px;
  height: 60px;
}
#back-to-top i {
  font-size: 50px;
}
#back-to-top i:hover {
  border: 1px solid orange;
  border-width: medium;
  color: grey;
  background-color: orange;
  border-radius: 60%;
}


@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    /*My Portfolio Styling*/

    body {
      width: 100%;
    }

    /*Background Image Parallax, Intro of Web-developer*/
    .parallax {
      background-image: url("../images/web-developer2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 500px;
    }

    /*Education DIV*/
    .parallax-academic {
      background-image: url("../images/web-dev.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height: 500px;
    }
    /*Contact Page*/
    .parallax-contact {
      background-image: url("../images/web-developer3.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 300px;
    }


    /*Header, Footer*/
    header {
      height: 30px;
      color: white;
    }
    footer {
      height: 50px;
      background-color: #404040;
      color: white;
      text-align: center;
      font-family: 'Fredoka One', cursive;
      letter-spacing: 1.5px;
      margin-top: 10px;
    }
    footer p {
      margin-top: 10px;
    }
    /*HEADING*/
    h1 {
      margin-left: 410px;
      font-family: 'Boogaloo', cursive;
      font-size: 50px;
      color: white;
    }
    .parallax img {
      margin-left: 550px;
      border-radius: 50%;
      transition: all 2s ease-in-out 0.5s;
    }

    .parallax img:hover {
        -webkit-transform: rotateY(-180deg);
           -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
        transition: all 3s ease-in-out 0s;
        opacity: 1;
        transition-property: all;
    }

    /*Web Developer*/
    #header-title {
      margin-left: 530px;
      font-family: 'Pacifico', cursive;
      font-size: 35px;
      color: white;
    }
    /*Quote*/
    #motive-quote {
      margin-left: 450px;
      font-size: 20px;
      font-family: 'Oxygen', sans-serif;
      color: white;
      font-style: italic;
    }

    /*NavBar*/
    nav {
      background-color: grey;
      width: 100%;
      height: 100px;
      top: 0px;
      text-align: center;
      position: fixed;
      padding: 30px 0 0 0;
    }

    nav li {
      display: inline-block;
      list-style-type: none;
    }
    li a {
      text-decoration: none;
      color: black;
      font-size: 24px;
      text-align: center;
      font-family: 'Fredoka One', cursive;
      color: white;
      text-shadow: 2px 2px black;
    }
    li a:hover {
      color: orange;
      text-shadow: 2px 2px black;
    }
    #default {
      font-size: 40px;
      float: left;
      border: 1px solid black;
      border-width: 8px;
      background-color: black;
      margin-bottom: 15px;
    }
    /*ABOUT ME*/
    #about-caption {
      margin-top: 100px;
    }
    #about-caption h2 {
      margin-top: 60px;
      font-size: 30px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #about-caption hr {
      width: 100px;
      height: 2px;
      border: 1px solid #e69500;
      background-color: #e69500;
      text-align: center;
    }
    #about-caption p {
      margin: 0 10%;
      text-align: justify;
      font-family: 'Oxygen', sans-serif;
      margin-bottom: 20px;
    }

    /*Education Skills Style*/
    #education-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: auto;
      color: black;
    }
    #education-container > div {
      margin: 0 2%;
      width: 255px;
      margin-left: 70px;
    }
    #education-container h4 {
      font-size: 20px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      text-decoration: underline;
    }
    #education-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
      margin-bottom: 50px;
    }

    /*My Coding Skills*/
    .coding-skills {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 70px;
      margin-bottom: 30px;

    }
    .coding-skills img {
      width: 200px;
      height: 200px;
    }
    .coding-skills img:hover {
      transform: rotateY(-180deg);
      transition: all 3s ease-in-out 0s;
    }
    #slide {
        position: relative;
        left: -1300px;
        -webkit-animation: slide 3s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 3s forwards;
        animation-delay: 2s;
    }
    @-webkit-keyframes slide {
        100% { left: 0; }
    }

    @keyframes slide {
        100% { left: 0; }
    }


    /*Work Skills*/
    #work-skills-container {
      width: 95%;
      display: grid;
      grid-template-columns: 1fr 1fr;

    }
    #work-skills {
      font-size: 30px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #work-skills-container h4 {
      font-size: 28px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      text-decoration: underline;
    }
    #work-skills-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
      padding-left: 30px;
      padding-right: 20px;
    }

    #contact-details-container {
      color: lightgrey;
      padding: 70px;
    }
    #contact-details-container h2{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 50px;
    }
    #contact-details-container h4{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 29px;
    }
    #contact-details-container p {
      text-align: justify;
      margin-left: 420px;
      font-family: 'Oxygen', sans-serif;
      margin-top: 50px;
      font-size: 18px;
    }
    #contact-details-container .phone {
      margin-left: 490px;
    }
    #contact-details-container p:hover {
      color: orange;
      text-shadow: 7px 7px 7px lightblue;
    }
    #contact-details-container ul {
      margin-top: 50px;
      margin-left: 475px;
    }
    #contact-details-container ul li {
      display: inline;
    }
    #contact-details-container ul i {
      font-size: 30px;
      border: 10px solid grey;
      border-width: medium;
      background-color: grey;
      border-radius: 50%;
    }
    #contact-details-container ul i:hover {
      border: 10px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 50%;
    }

    /*Organisation*/
    #contact-details-container li {
      list-style-type: none;
    }
    #contact-details-container li a{
      font-size: 20px;
      font-style: normal;
      list-style-type: none;
    }

    /*Back to Home Page Smooth Scroll*/
    #back-to-top {
      float: right;
      width: 60px;
      height: 60px;
    }
    #back-to-top i {
      font-size: 50px;
    }
    #back-to-top i:hover {
      border: 1px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 60%;
    }

}

/*--Tablet--*/
@media screen
  and (min-device-width: 700px)
  and (max-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) {
    /*My Portfolio Styling*/
    body {
      width: 1200px;
    }
    /*Background Image Parallax, Intro of Web-developer*/
    .parallax {
      background-image: url("../images/web-developer2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 500px;
    }

    /*Education DIV*/
    .parallax-academic {
      background-image: url("../images/web-dev.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height: 500px;
    }
    /*Contact Page*/
    .parallax-contact {
      background-image: url("../images/web-developer3.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 300px;
    }


    /*Header, Footer*/
    header {
      height: 30px;
      color: white;
    }
    footer {
      height: 50px;
      background-color: #404040;
      color: white;
      text-align: center;
      font-family: 'Fredoka One', cursive;
      letter-spacing: 1.5px;
      margin-top: 10px;
    }
    footer p {
      margin-top: 10px;
    }
    /*HEADING*/
    h1 {
      padding: 60px;
      margin-left: 350px;
      font-family: 'Boogaloo', cursive;
      font-size: 50px;
      color: white;
    }
    .parallax img {
      margin-left: 500px;
      border-radius: 50%;
      transition: all 2s ease-in-out 0.5s;
    }

    .parallax img:hover {
        -webkit-transform: rotateY(-180deg);
           -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
        transition: all 3s ease-in-out 0s;
        opacity: 1;
        transition-property: all;
    }

    /*Web Developer*/
    #header-title {
      margin-left: 455px;
      font-family: 'Pacifico', cursive;
      font-size: 35px;
      color: white;
    }
    /*Quote*/
    #motive-quote {
      margin-left: 370px;
      font-size: 20px;
      font-family: 'Oxygen', sans-serif;
      color: white;
      font-style: italic;
    }
    /*Navigation Bar*/

    /*NavBar*/
    nav {
      background-color: grey;
      width: 100%;
      height: 100px;
      top: 0px;
      text-align: center;
      position: fixed;
      padding: 30px 0 0 0;
    }

    nav li {
      margin-left: 30px;
      list-style-type: none;
    }
    li a {
      float: right;
      display: block;
      text-decoration: none;
      color: black;
      font-size: 20px;
      text-align: center;
      font-family: 'Fredoka One', cursive;
      color: white;
      text-shadow: 2px 2px black;
    }
    li a:hover {
      color: orange;
      text-shadow: 2px 2px black;
    }
    #default {
      font-size: 40px;
      float: left;
      border: 1px solid black;
      border-width: 8px;
      background-color: black;
      margin-bottom: 15px;
    }
    /*ABOUT ME*/
    #about-caption {
      margin-top: 100px;
    }
    #about-caption h2 {
      margin-top: 60px;
      font-size: 30px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #about-caption hr {
      width: 100px;
      height: 2px;
      border: 1px solid #e69500;
      background-color: #e69500;
      text-align: center;
    }
    #about-caption p {
      margin: 0 10%;
      text-align: justify;
      font-family: 'Oxygen', sans-serif;
      margin-bottom: 20px;
    }

    /*Education Skills Style*/
    #education-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: auto;
      color: black;
    }
    #education-container > div {
      margin: 0 2%;
      width: 250px;
      margin-left: 70px;
    }
    #education-container h4 {
      font-size: 20px;
      font-family: 'Boogaloo', cursive;
      /*margin-left: 370px;*/
    }
    #education-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
      margin-bottom: 50px;
    }

    /*My Coding Skills*/
    .coding-skills {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 70px;
      margin-bottom: 30px;

    }
    .coding-skills img {
      width: 200px;
      height: 200px;
    }
    .coding-skills img:hover {
      transform: rotateY(-180deg);
      transition: all 3s ease-in-out 0s;
    }
    #slide {
        position: relative;
        left: -1300px;
        -webkit-animation: slide 3s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 3s forwards;
        animation-delay: 2s;
    }
    @-webkit-keyframes slide {
        100% { left: 0; }
    }

    @keyframes slide {
        100% { left: 0; }
    }


    /*Work Skills*/
    #work-skills-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    #work-skills {
      font-size: 30px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #work-skills-container h4 {
      font-size: 28px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
    }
    #work-skills-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
      padding-left: 20px;
    }

    #contact-details-container {
      color: lightgrey;
      padding: 70px;
    }
    #contact-details-container h2{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 50px;
    }
    #contact-details-container h4{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 29px;
    }
    #contact-details-container p {
      text-align: justify;
      margin-left: 320px;
      font-family: 'Oxygen', sans-serif;
      margin-top: 50px;
      font-size: 16px;
    }
    #contact-details-container .phone {
      margin-left: 400px;
      font-size: 16px;
    }
    #contact-details-container p:hover {
      color: orange;
      text-shadow: 7px 7px 7px lightblue;
    }
    #contact-details-container ul {
      margin-top: 50px;
      margin-left: 380px;
    }
    #contact-details-container ul li {
      display: inline;
    }
    #contact-details-container ul i {
      font-size: 30px;
      border: 10px solid grey;
      border-width: medium;
      background-color: grey;
      border-radius: 50%;
    }
    #contact-details-container ul i:hover {
      border: 10px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 50%;
    }

    /*Organisation*/
    #contact-details-container li {
      list-style-type: none;
    }
    #contact-details-container li a{
      font-size: 20px;
      font-style: normal;
      list-style-type: none;
    }

    /*Back to Home Page Smooth Scroll*/
    #back-to-top {
      float: right;
      width: 60px;
      height: 60px;
    }
    #back-to-top i {
      font-size: 50px;
    }
    #back-to-top i:hover {
      border: 1px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 60%;
    }

}

/*---Phones---*/
@media screen
  and (min-device-width: 480px)
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 1) {
    /*My Portfolio Styling*/

    body {
      width: 1200px;
    }

    /*Background Image Parallax, Intro of Web-developer*/
    .parallax {
      background-image: url("../images/web-developer2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 500px;
    }

    /*Education DIV*/
    .parallax-academic {
      background-image: url("../images/web-dev.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height: 500px;
    }
    /*Contact Page*/
    .parallax-contact {
      background-image: url("../images/web-developer3.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 300px;
    }


    /*Header, Footer*/
    header {
      height: 30px;
      color: white;
    }
    footer {
      height: 50px;
      background-color: #404040;
      color: white;
      text-align: center;
      font-size: 22px;
      font-family: 'Fredoka One', cursive;
      letter-spacing: 1.5px;
      margin-top: 10px;
    }
    footer p {
      margin-top: 10px;
    }
    /*HEADING*/
    h1 {
      margin-left: 330px;
      font-family: 'Boogaloo', cursive;
      font-size: 55px;
      color: white;
    }
    .parallax img {
      margin-left: 485px;
      border-radius: 50%;
      transition: all 2s ease-in-out 0.5s;
    }

    .parallax img:hover {
        -webkit-transform: rotateY(-180deg);
           -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
        transition: all 3s ease-in-out 0s;
        opacity: 1;
        transition-property: all;
    }

    /*Web Developer*/
    #header-title {
      margin-left: 450px;
      font-family: 'Pacifico', cursive;
      font-size: 35px;
      color: white;
    }
    /*Quote*/
    #motive-quote {
      margin-left: 300px;
      font-size: 18px;
      font-family: 'Oxygen', sans-serif;
      color: white;
      font-style: italic;
    }

    /*NavBar*/
    nav {
      background-color: grey;
      width: 100%;
      height: 100px;
      top: 0px;
      text-align: center;
      position: fixed;
      padding: 30px 0 0 0;
    }

    nav li {
      display: inline-block;
      list-style-type: none;
      font-size: 25px;
    }
    li a {
      text-decoration: none;
      color: black;
      text-align: center;
      font-family: 'Fredoka One', cursive;
      color: white;
      text-shadow: 2px 2px black;
    }
    li a:hover {
      color: orange;
      text-shadow: 2px 2px black;
    }
    #default {
      font-size: 40px;
      float: left;
      border: 1px solid black;
      border-width: 8px;
      background-color: black;
      margin-bottom: 15px;
    }
    /*ABOUT ME*/
    #about-caption {
      margin-top: 100px;
    }
    #about-caption h2 {
      margin-top: 60px;
      font-size: 30px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #about-caption hr {
      width: 100px;
      height: 2px;
      border: 1px solid #e69500;
      background-color: #e69500;
      text-align: center;
    }
    #about-caption p {
      margin: 0 10%;
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      margin-bottom: 20px;
    }

    /*Education Skills Style*/
    #education-container {
      display: grid;
      grid-template-columns: 1fr;
      height: auto;
      color: black;
    }
    #education-container > div {
      margin: 0 2%;
      width: 100%;
      margin-left: 10px;
    }
    #education-container h4 {
      font-size: 20px;
      font-family: 'Boogaloo', cursive;
      /*margin-left: 370px;*/
    }
    #education-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
      font-size: 12px;
      margin-bottom: 50px;
    }

    /*My Coding Skills*/
    .coding-skills {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 70px;
      margin-bottom: 30px;
    }
    .coding-skills img {
      width: 180px;
      height: 180px;
    }
    .coding-skills img:hover {
      transform: rotateY(-180deg);
      transition: all 3s ease-in-out 0s;
    }
    #slide {
        position: relative;
        left: -1300px;
        -webkit-animation: slide 3s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 3s forwards;
        animation-delay: 2s;
    }
    @-webkit-keyframes slide {
        100% { left: 0; }
    }

    @keyframes slide {
        100% { left: 0; }
    }


    /*Work Skills*/
    #work-skills-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    #work-skills {
      font-size: 30px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #work-skills-container h4 {
      font-size: 28px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
    }
    #work-skills-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
      font-size: 12px;
    }

    #contact-details-container {
      color: lightgrey;
      padding: 70px;
    }
    #contact-details-container h2{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 50px;
    }
    #contact-details-container h4{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 25px;
    }
    #contact-details-container p {
      text-align: justify;
      margin-left: 300px;
      font-family: 'Oxygen', sans-serif;
      margin-top: 50px;
      font-size: 13px;
    }
    #contact-details-container .phone {
      font-size: 13px;
      margin-left: 390px;
    }
    #contact-details-container p:hover {
      color: orange;
      text-shadow: 7px 7px 7px lightblue;
    }
    #contact-details-container ul {
      margin-top: 50px;
      margin-left: 380px;
    }
    #contact-details-container ul li {
      display: inline;
    }
    #contact-details-container ul i {
      font-size: 30px;
      border: 10px solid grey;
      border-width: medium;
      background-color: grey;
      border-radius: 50%;
    }
    #contact-details-container ul i:hover {
      border: 10px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 50%;
    }

    /*Organisation*/
    #contact-details-container li {
      list-style-type: none;
    }
    #contact-details-container li a{
      font-size: 20px;
      font-style: normal;
      list-style-type: none;
    }

    /*Back to Home Page Smooth Scroll*/
    #back-to-top {
      float: right;
      width: 60px;
      height: 60px;
    }
    #back-to-top i {
      font-size: 50px;
    }
    #back-to-top i:hover {
      border: 1px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 60%;
    }

}


@media screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 1) {
    /*My Portfolio Styling*/

    body {
      width: 1300px;
    }

    /*Background Image Parallax, Intro of Web-developer*/
    .parallax {
      background-image: url("../images/web-developer2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 500px;
    }

    /*Education DIV*/
    .parallax-academic {
      background-image: url("../images/web-dev.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height: 500px;
    }
    /*Contact Page*/
    .parallax-contact {
      background-image: url("../images/web-developer3.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 300px;
    }


    /*Header, Footer*/
    header {
      height: 30px;
      color: white;
    }
    footer {
      height: 50px;
      background-color: #404040;
      color: white;
      text-align: center;
      font-family: 'Fredoka One', cursive;
      letter-spacing: 1.5px;
      margin-top: 10px;
    }
    footer p {
      margin-top: 10px;
    }
    /*HEADING*/
    h1 {
      margin-left: 350px;
      font-family: 'Boogaloo', cursive;
      font-size: 45px;
      color: white;
    }
    .parallax img {
      margin-left: 510px;
      border-radius: 50%;
      transition: all 2s ease-in-out 0.5s;
    }

    .parallax img:hover {
        -webkit-transform: rotateY(-180deg);
           -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
        transition: all 3s ease-in-out 0s;
        opacity: 1;
        transition-property: all;
    }

    /*Web Developer*/
    #header-title {
      margin-left: 420px;
      font-family: 'Pacifico', cursive;
      font-size: 26px;
      color: white;
    }
    /*Quote*/
    #motive-quote {
      margin-left: 310px;
      font-size: 12px;
      font-family: 'Oxygen', sans-serif;
      color: white;
      font-style: italic;
    }

    /*dropdown menu*/
    /*NavBar*/
    .menu {
      position: fixed;
      width: 100%;
      height: 100px;
    }
    #default {
      font-size: 50px;
      border: 1px solid black;
      border-width: 8px;
      background-color: black;
      margin-bottom: 15px;
    }
    .menu li {
      width: 50%;
      font-size: 50px;
      margin-right: 50px;
      text-align: left;
      border: 1px solid white;
      border-radius: 5%;
      background-color: grey;
    }
    .menu a {
      margin-left: 20px;
    }
    /*ABOUT ME*/
    #about-caption {
      margin-top: 100px;
    }
    #about-caption h2 {
      margin-top: 60px;
      font-size: 30px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #about-caption hr {
      width: 100px;
      height: 2px;
      border: 1px solid #e69500;
      background-color: #e69500;
      text-align: center;
    }
    #about-caption p {
      margin: 0 5%;
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      margin-bottom: 20px;
    }

    /*Education Skills Style*/
    #education-container {
      display: grid;
      grid-template-columns: 1fr;
    }
    #education-container > div {
      width: 1200px;
    }
    #education-container h4 {
      font-size: 27px;
      font-family: 'Boogaloo', cursive;
      /*margin-left: 370px;*/
    }
    #education-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
      font-size: 14px;
      margin-bottom: 50px;
    }

    /*My Coding Skills*/
    .coding-skills {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 70px;
      margin-bottom: 30px;

    }
    .coding-skills img {
      width: 200px;
      height: 200px;
      z-index: 1;
    }
    .coding-skills img:hover {
      transform: rotateY(-180deg);
      transition: all 3s ease-in-out 0s;
    }
    #slide {
        position: relative;
        left: -1300px;
        -webkit-animation: slide 3s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 3s forwards;
        animation-delay: 2s;
    }
    @-webkit-keyframes slide {
        100% { left: 0; }
    }

    @keyframes slide {
        100% { left: 0; }
    }


    /*Work Skills*/
    #work-skills-container {
      display: grid;
      grid-template-columns: 1fr;
    }
    #work-skills {
      font-size: 35px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #work-skills-container h4 {
      font-size: 35px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
    }
    #work-skills-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
    }

    #contact-details-container {
      color: lightgrey;
      padding: 70px;
    }
    #contact-details-container h2{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 50px;
    }
    #contact-details-container h4{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 25px;
    }
    #contact-details-container p {
      text-align: left;
      margin-left: 340px;
      font-family: 'Oxygen', sans-serif;
      margin-top: 50px;
      font-size: 10px;
    }
    #contact-details-container .phone {
      margin-left: 440px;
      font-size: 10px;
    }
    #contact-details-container p:hover {
      color: orange;
      text-shadow: 7px 7px 7px lightblue;
    }
    #contact-details-container ul {
      margin-top: 50px;
      margin-left: 430px;
    }
    #contact-details-container ul li {
      display: inline;
    }
    #contact-details-container ul i {
      font-size: 35px;
      border: 10px solid grey;
      border-width: medium;
      background-color: grey;
      border-radius: 50%;
    }
    #contact-details-container ul i:hover {
      border: 10px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 50%;
    }

    /*Organisation*/
    #contact-details-container li {
      list-style-type: none;
    }
    #contact-details-container li a{
      font-size: 20px;
      font-style: normal;
      list-style-type: none;
    }

    /*Back to Home Page Smooth Scroll*/
    #back-to-top {
      float: right;
      width: 60px;
      height: 60px;
    }
    #back-to-top i {
      font-size: 50px;
    }
    #back-to-top i:hover {
      border: 1px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 60%;
    }
}

@media screen
  and (min-device-width: 100px)
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 1) {
    /*My Portfolio Styling*/

    body {
      width: 1250px;
    }

    /*Background Image Parallax, Intro of Web-developer*/
    .parallax {
      background-image: url("../images/web-developer2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 500px;
    }

    /*Education DIV*/
    .parallax-academic {
      background-image: url("../images/web-dev.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height: 500px;
    }
    /*Contact Page*/
    .parallax-contact {
      background-image: url("../images/web-developer3.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 300px;
    }


    /*Header, Footer*/
    header {
      height: 30px;
      color: white;
    }
    footer {
      height: 50px;
      background-color: #404040;
      color: white;
      text-align: center;
      font-family: 'Fredoka One', cursive;
      letter-spacing: 1.5px;
      margin-top: 10px;
    }
    footer p {
      margin-top: 10px;
    }
    /*HEADING*/
    h1 {
      margin-left: 360px;
      font-family: 'Boogaloo', cursive;
      font-size: 20px;
      color: white;
      margin-top: 50px;
    }
    .parallax img {
      margin-left: 510px;
      border-radius: 50%;
      transition: all 2s ease-in-out 0.5s;
    }

    .parallax img:hover {
        -webkit-transform: rotateY(-180deg);
           -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
        transition: all 3s ease-in-out 0s;
        opacity: 1;
        transition-property: all;
    }

    /*Web Developer*/
    #header-title {
      margin-left: 450px;
      font-family: 'Pacifico', cursive;
      font-size: 12px;
      color: white;
    }
    /*Quote*/
    #motive-quote {
      margin-left: 365px;
      font-size: 8px;
      font-family: 'Oxygen', sans-serif;
      color: white;
      font-style: italic;
    }

    /*dropdown menu*/
    /*NavBar*/
    .menu {
      position: fixed;
      width: 100%;
      height: 110px;
    }
    #default {
      font-size: 60px;
    }
    .menu li {
      width: 50%;
      font-size: 50px;
      margin-right: 50px;
      text-align: left;
      border: 1px solid white;
      border-radius: 5%;
      background-color: grey;
    }
    .menu a {
      margin-left: 20px;
    }

    /*ABOUT ME*/
    #about-caption {
      margin-top: 100px;
    }
    #about-caption h2 {
      margin-top: 60px;
      font-size: 30px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #about-caption hr {
      width: 100px;
      height: 2px;
      border: 1px solid #e69500;
      background-color: #e69500;
      text-align: center;
    }
    #about-caption p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      margin-bottom: 20px;
      font-size: 7px;
    }

    /*Education Skills Style*/
    #education-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: auto;
      color: black;
    }
    #education-container > div {
      margin: 0 2%;
      width: 250px;
      margin-left: 70px;
    }
    #education-container h4 {
      font-size: 20px;
      font-family: 'Boogaloo', cursive;
      /*margin-left: 370px;*/
    }
    #education-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
      font-size: 26px;
      margin-bottom: 50px;
    }

    /*My Coding Skills*/
    .coding-skills {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 60px;
      margin-bottom: 30px;

    }
    .coding-skills img {
      width: 170px;
      height: 170px;
    }
    .coding-skills img:hover {
      transform: rotateY(-180deg);
      transition: all 3s ease-in-out 0s;
    }
    #slide {
        position: relative;
        left: -1300px;
        -webkit-animation: slide 3s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 3s forwards;
        animation-delay: 2s;
    }
    @-webkit-keyframes slide {
        100% { left: 0; }
    }

    @keyframes slide {
        100% { left: 0; }
    }


    /*Work Skills*/
    #work-skills-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;

    }
    #work-skills {
      font-size: 20px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
      color: black;
    }
    #work-skills-container h4 {
      font-size: 18px;
      font-family: 'Boogaloo', cursive;
      text-align: center;
    }
    #work-skills-container p {
      text-align: left;
      font-family: 'Oxygen', sans-serif;
      color: black;
      font-size: 10px;
    }

    #contact-details-container {
      color: lightgrey;
      padding: 70px;
    }
    #contact-details-container h2{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 30px;
    }
    #contact-details-container h4{
      text-align: center;
      font-family: 'Boogaloo', cursive;
      font-size: 10px;
    }
    #contact-details-container p {
      text-align: justify;
      margin-left: 320px;
      font-family: 'Oxygen', sans-serif;
      margin-top: 50px;
      font-size: 8px;
    }
    #contact-details-container .phone {
      margin-left: 400px;
      font-size: 8px;
    }
    #contact-details-container p:hover {
      color: orange;
      text-shadow: 7px 7px 7px lightblue;
    }
    #contact-details-container ul {
      margin-top: 50px;
      margin-left: 400px;
    }
    #contact-details-container ul li {
      display: inline;
    }
    #contact-details-container ul i {
      font-size: 30px;
      border: 10px solid grey;
      border-width: medium;
      background-color: grey;
      border-radius: 50%;
    }
    #contact-details-container ul i:hover {
      border: 10px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 50%;
    }

    /*Organisation*/
    #contact-details-container li {
      list-style-type: none;
    }
    #contact-details-container li a{
      font-size: 20px;
      font-style: normal;
      list-style-type: none;
    }

    /*Back to Home Page Smooth Scroll*/
    #back-to-top {
      float: right;
      width: 60px;
      height: 60px;
    }
    #back-to-top i {
      font-size: 50px;
    }
    #back-to-top i:hover {
      border: 1px solid orange;
      border-width: medium;
      color: grey;
      background-color: orange;
      border-radius: 60%;
    }

}
